extends layout 

block content 
  header(class="header")
    h1= title 
    a(href="/" class="header-link") Messages
  
  div(class="messages")
    form(method="POST" action="/new" autocomplete="off" class="message-card")
      input(name="name" type="text" placeholder="Name" class="message-name")
      div(class="message-text-container")
        textarea(name="message" placeholder="Write your message here.." class="message-text")
        button(type="submit" class="message-submit")= "OK"