extends layout

block content
  header(class="header")
    h1(class="messages-title")= title
    a(href="/new") New message

  div(class="messages")
    each val in messages
      div(class="message-card")
        p(class="message-name")= val.user
        div(class="message-text-container")
          div(class="message-fill")
            p(class="message-fill-text") Quote
            p(class="message-fill-text") Edit
            p(class="message-fill-text") Delete
          p(class="message-text")= val.text
          p(class="message-date")= val.added